.secondRow {
    display: flex;
    margin-top: 30px;
}

body {
    margin: 0;
    padding: 30px;
    min-height: calc(100vh - 60px);
}

html {
    margin: 0;
    padding: 0;
}

.hover-btn {
    cursor: pointer;
}

.hover-btn:hover {
    background-color: #d7d7d7;
}

.cart-list__item {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-list__item__id {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.cart-list__item__supplier,
.cart-list__item__price {
    text-align: right;
}